# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs
#*#
*~

# Build
bin/
build/CMakeFiles/
build/CMakeCache.txt
build/Makefile
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/libs/
build/*.spv